.hexgrid {
  height: fit-content !important;
  overflow: visible !important;
}
.hexgrid g {
  fill: transparent;
}
.hexgrid g polygon:hover {
  stroke: blue;
  cursor: pointer;
}

.hexgrid g polygon {
  stroke: black;
  stroke-width: 0.3;
}
.hexgrid g text {
  font-size: 0.22em;
  fill: black;
  pointer-events: none;
}
.hexgrid g .edge-sensor {
  font-size: 0.15em;
}