.storage-card {
  padding: 0 25px;
  box-shadow: 0 0 5px 3px #9e9e9e !important; 
}

.storage-segments {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
}

svg g {
  fill: transparent;
}
svg g polygon:hover {
  stroke: blue;
  cursor: pointer;
}

svg g polygon {
  stroke: black;
  stroke-width: 0.3;
}